/* style.css ----> styling the index.html file */

 body{
    font-family:'Times New Roman', Times,sans-serif;
    margin: 0;
    background-color: #f3f4f6;
    color: #0f0f0f;
    line-height: 1.6;
 }
    /* header styling with nav child and its sub childs */
#header{
    background-color: #0056d2;

}

header h1{
    text-align:center;
    color: white;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    text-decoration: underline;
}

nav ul {
            list-style: none;
            padding: 0;
            margin: 10px 0 0 0;
            text-align: center;
            
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

            
h2{
    text-align:center;
}

main {
        max-width: 900px;
        margin: 30px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 section {
         margin-bottom: 40px;
}
               /* Image styling */
img {
        display: block;
        margin: 10px auto;
        border-radius: 10px; 
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
            /* Project section styling */ 
#two{
text-align: center;
padding: 40px 0;
}
#two ul {
list-style: none; 
padding: 0; 
margin: 20px auto; 
}
#two li {
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}
#two li:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    border-color: rgb(52, 52, 239); 
}

                 /* Table styling */
table {
    width: 80%;
    margin: 0 auto;
    border: 5px solid #0056d2;
    border-collapse: collapse;
}


td{
   border: 1px solid black; 
    text-align: center;
    padding: 6px;
    
}
th{
    background-color:#0056d2 ;
    color: white;
    border-collapse: collapse;
    font-size: 20px;

}
 /* form styling commences */
 #form{
    height: 350px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
 }

.ok{
    border:1px solid rgb(52, 52, 239);
    text-align: center;
    padding: 6px;
}

 label{
    font-weight:bold;

}

input,
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #0d0d0e;
    border-radius: 5px;
    font-size: 1em;
}
#but-cell{
    border:none;
    text-align: center;
    padding-top: 20px;
}
#but-save{
background-color: #0056d2;
color: white;
cursor: pointer;
border: none;
padding: 10px 20px;
border-radius:5px;
width:30%;
}

#but-save:hover{
background-color: #f31d1d;
}
         /* back to top button stylign */
#back-to-top-btn{
position: fixed; 
bottom: 20px; 
right: 20px;
background-color: rgb(12, 12, 234); 
color: white;
padding: 10px 15px;
border-radius: 5px;
text-decoration: none; 
font-size: 16px;
z-index: 1000; 
transition: opacity 0.3s;
}


